.component-RateItem{
    .component-RateItem-label{
        margin-top: 3px;
    }
    .component-RateItem-border{
        text-align: center;
    }
    .component-RateItem-star{
        margin-top: -3px;
    }
}