$name: component-ImageGrid;

.#{$name}{
    .#{$name}-images{
        margin-top: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        box-sizing: border-box;
        background-size: cover;
        background-clip: content-box;
        background-position: 50%;
    }
    .#{$name}-image-border{
        margin-top: 10px;
        text-align: center;
    }
}